.card {
    background-color: #212022;
    margin: 10px;
    padding: 20px 30px 20px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #d4d4d4;
}